<div class="" ng-init="activeMenu = 0">
  <div class="left-side-menu">
    <div class="menu-list">
      <div class="menu-item disabled list-heading">
        <a href="#" class="fa fa-qrcode">Dashboard</a>
      </div>
      <div class="menu-item" ng-class="{'active': $parent.activeMenu == $index}" ng-repeat="menu in menus" ng-click="$parent.activeMenu=$index">
        <a ng-href="#/home{{menu.path}}">{{menu.name}}</a>
        <div class="submenu-item" ng-if="menu.submenu.length > 0" ng-show="activeMenu == $index">
          <ul><li ng-repeat="submenu in menu.submenu"><a ng-href="{{submenu.path}}">{{submenu.name}}</a></li></ul>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-panel">
    <div class="home-view" ui-view="home-view"></div>
  </div>
</div>
