<div class="collapsible-bar-cont row">
  <div class="search-box">
    <span id="com_name">Amagi</span>
    <input type="text" name="name" value="" placeholder="Search videos by name, company, spot, date or any by property" ng-model="search" />
    <span id="com_pro">Am Tube</span>
  </div>
  <div class="list-cont">
    <div class="date-heading" ng-click="showLastSeen = (showLastSeen == true)?false:true" ng-show="viewedVideos.length > 0">
      Last Seen Videos
      <div class="drop-icon fa fa-caret-square-o-down"></div>
    </div>
    <div class="videos" ng-show="showLastSeen == true">
      <video-temp video="video" ng-repeat="video in viewedVideos" ng-click="videoClicked(video, false)"/>
    </div>
    <div class="collapsible-bar" ng-repeat="videos in groupedVideoDetails" ng-hide="search && search.split('').length > 0">
      <div class="date-heading" ng-click="selectedDate = (selectedDate != videos[0]) ? videos[0]: ''">
        {{videos[0]}}
        <div class="drop-icon fa fa-caret-square-o-down"></div>
      </div>
      <div class="videos" ng-show="selectedDate == videos[0]">
        <video-temp video="video" ng-repeat="video in videos[1]" ng-click="$parent.videoClicked(video)"/>
      </div>
    </div>
    <div class="search-result" ng-show="search && search.split('').length > 0">
      <video-temp video="video" ng-repeat="video in videoDetails | filter : search"/>
    </div>
  </div>
  </div>
<div id="myModal" class="modal" ng-hide="showModal != true" ng-click="selectedVideo = undefined;showModal = false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="selectedVideo = undefined;showModal = false">×</button>
                    <h4 class="modal-title">{{selectedVideo.campaign_name}}</h4>
                </div>
                <div class="modal-body">
                    <video ng-src="{{selectedVideo.video_path | trustUrl}}" autoplay>

                    </video>
                </div>
            </div>
        </div>
    </div>
